@import '../../../styles/variables.scss';

$block: button;

.#{$block} {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding: 0 15px;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50px;
    border: none;
    width: 100%;

    &:focus {
        outline: none;
    }

    &:disabled {
        cursor: default;
    }

    &__link {
        display: block;
    }

    &__wrapper {
        width: 100%;

        &_disabled {
            cursor: default;
            opacity: 0.5;
        }
    }

    &__link {
        width: 100%;
    }

    &__title {
        font-weight: inherit;

        &:hover {
            text-decoration: none;
        }
    }

    &__icon {
        margin-right: 13px;
    }

    //size mods
    &_size {
        &_small {
            min-height: 32px;
        }

        &_medium {
            min-height: 35px;
        }

        &_large {
            min-height: 44px;
        }
    }

    //color mods
    &_color {
        &_yellow {
            background-color: #{$orange};
        }

        &_red {
            background-color: #{$red};
        }

        &_gray {
            background-color: #{$mediumGray};
        }

        &_black {
            background-color: #{$black};
        }
    }

    //hover color mods
    &_hover-color {
        &_black:hover {
            background-color: #{$black};

            .#{$block}__title {
                color: #{$white};
            }
        }

        &_sandy:hover {
            background-color: #{$sandy};
        }
    }

    //button font size
    &_font-size {
        &_medium .#{$block}__title {
            font-size: 14px;
        }

        &_large .#{$block}__title {
            font-size: 16px;
            @include Ubuntu;
        }
    }

    //button font color
    &_font-color {
        &_white {
            color: #{$white};

            .#{$block}__title {
                color: #{$white};
            }
        }

        &_black {
            color: #{$black};

            .#{$block}__title {
                color: #{$black};
            }

            &:hover {
                color: #{$white};
                
                .#{$block}__title {
                    color: #{$white};
                }
            }
        }
    }

    //font-weight mods

    &_font-weight {
        &_normal {
            .#{$block}__title {
                font-weight: normal;
            }
        }

        &_500 {
            .#{$block}__title {
                font-weight: 500;
            }
        }

        &_600 {
            .#{$block}__title {
                font-weight: 600;
            }
        }

        &_bold {
            .#{$block}__title {
                font-weight: bold;
            }
        }
    }
};
