@import '../../../styles/variables.scss';

$block: items-carousel;

.#{$block} {
    position: relative;
    overflow: hidden;

    &__wrapper {
        position: relative;
        margin: 0 73px;
    }

    .slider {
        display: flex;
        align-items: center;
    }

    .slide {
        min-width: 148px;
        margin-right: 48px;
    }

    .control-dots {
        display: flex;
        position: absolute;
        justify-content: center;
        flex: 1 1 auto;
        margin: auto;
        bottom: 1px;
        left: 0;
        right: 0;
    }

    .dot {
        width: 10px;
        height: 10px;
        background-color: #{$mediumGray};
        cursor: pointer;
        border-radius: 50%;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:focus {
            outline: none;
        }

        &.selected {
            background-color: #{$orange};
        }
    }

    &__arrow {
        position: absolute;
        width: 40px;
        height: 40px;
        margin: auto;
        top: 0;
        bottom: 0;
        border: none;
        cursor: pointer;
        background: url('./i/carousel-arrow.png') no-repeat center;
        background-color: #{$white};
        transition: opacity 0.3s;

        &:hover {
            transform: rotate(180deg);
            background: url('./i/carousel-arrow-hovered.png') no-repeat center;
        }

        &-prev {
            left: -73px;
        }
    
        &-next {
            right: -73px;
            transform: rotate(180deg);
    
            &:hover {
                transform: rotate(0deg);
            }
        }

        &-disabled {
            cursor: default;
            opacity: 0.4;

            &.#{$block}__arrow:hover {
                background: url('./i/carousel-arrow.png') no-repeat center;
                transform: rotate(0deg);
            }

            &.#{$block}__arrow-next:hover {
                transform: rotate(180deg);
            }
        }

        &:focus {
            outline: none;
        }
    }
    
    //limited dots mod
    &_no-dots {
        &_3 {
            .dot:nth-last-child(-n + 3) {
                display: none;
            }
        }
    }

    //view mods
    &__wrapper_view_goods {
        margin: 0;

        .#{$block} {
            padding: 1px;
            padding-bottom: 43px;

            &__title {
                font-size: 32px;
                @include Ubuntu;
                margin-bottom: 47px;
            }

            &__arrow {
                bottom: initial;
                top: 0px;

                &-prev {
                    left: initial;
                    right: 5vw;
                }
                
                &-next {
                    right: 0.3vw;
                }
            }
        }

        .slide {
            min-width: 268px;
            margin-right: 29px;
        }

        .slider {
            align-items: stretch;
        }

        .control-arrow {
            display: none;
        }
    }

    &__wrapper_view_ymaps {
        margin: 0;

        .#{$block} {
            padding: 40px 5px;

            &__arrow {
                bottom: initial;
                top: -50px;

                &-prev {
                    left: initial;
                    right: 5vw;
                }
                
                &-next {
                    right: 0.3vw;
                }
            }
        }

        .slide {
            min-width: 369px;
            margin-right: 27px;
        }

        .slider {
            align-items: stretch;
        }

        .control-arrow {
            display: none;
        }
    }
};
