@import '../../../styles/variables.scss';

$block: items-carousel;

.#{$block} {
    position: relative;
    overflow: hidden;

    &__wrapper {
        position: relative;
        margin: 0 73px;
    }

    .slider {
        display: flex;
        align-items: center;
    }

    .slide {
        min-width: 148px;
        margin-right: 48px;
    }

    &__arrow {
        position: absolute;
        width: 40px;
        height: 40px;
        margin: auto;
        top: 0;
        bottom: 0;
        border: none;
        cursor: pointer;
        background: url('./i/carousel-arrow.png') no-repeat center;
        background-color: #{$white};
        transition: opacity 0.3s;

        &:hover {
            transform: rotate(180deg);
            background: url('./i/carousel-arrow-hovered.png') no-repeat center;
        }

        &-prev {
            left: -73px;
        }
    
        &-next {
            right: -73px;
            transform: rotate(180deg);
    
            &:hover {
                transform: rotate(0deg);
            }
        }

        &-disabled {
            cursor: default;
            opacity: 0.4;

            &.#{$block}__arrow:hover {
                background: url('./i/carousel-arrow.png') no-repeat center;
                transform: rotate(0deg);
            }

            &.#{$block}__arrow-next:hover {
                transform: rotate(180deg);
            }
        }

        &:focus {
            outline: none;
        }
    }

    &__wrapper_view_goods {
        margin: 0 55px;
        padding: 50px 0 40px;

        .#{$block} {
            padding-left: 1px;

            &__title {
                font-size: 32px;
                @include Ubuntu;
                margin-bottom: 47px;
            }
        }

        .slide {
            min-width: 268px;
            margin-right: 30px;
        }

        .slider {
            align-items: stretch;
        }
    }
};
