@import '../../../styles/variables.scss';

$block: input;

.#{$block} {
    display: flex;
    align-items: center;
    height: 100%;

    &_justify {
        &_start {
            justify-content: flex-start;
        }

        &_center {
            justify-content: center;
        }

        &_end {
            justify-content: flex-end;
        }

        &_space-around {
            justify-content: space-around;
        }

        &_space-between {
            justify-content: space-between;
        }
    }

    &__input {
        &:focus {
            outline: none;
        }
    }

    &__input[type="search"]::-ms-clear,
    &__input[type="search"]::-ms-reveal
    { 
        display: none;
        width : 0;
        height: 0;
    }

    &__input[type="search"]::-webkit-search-decoration,
    &__input[type="search"]::-webkit-search-cancel-button,
    &__input[type="search"]::-webkit-search-results-button,
    &__input[type="search"]::-webkit-search-results-decoration
    {
        display: none;
    }
}