@import '../../../styles/variables.scss';

$block: main-page;

.#{$block} {
    &__header-wrapper {
        display: flex;
        flex: 1 1 auto;
        padding-top: 0;
    }

    &__header-left {
        width: 270px;
        margin-right: 30px;
    }

    &__header-right {
        width: calc(100% - 300px);
    }

    &__about-title {
        font-size: 32px;
        margin-bottom: 48px;
        @include Ubuntu;
    }

    &__about-text {
        line-height: 24px;
    }

    &__partners-title {
        font-size: 32px;
        margin-bottom: 40px;
        @include Ubuntu;
    }
}
