@import '../../../styles/variables.scss';

$block: shop-services;

.#{$block} {
    display: flex;
    flex: 1 1 auto;
    max-width: 265px;

    &__element {
        &:not(:last-child) {
            border-right: 1px solid #{$lightGray};
            padding-right: 15px;
        }

        &:not(:first-child) {
            padding-left: 15px;
        }
    }
}